html {
	background: url(../img/background-abstract.jpg) no-repeat center center fixed;
	
	background-size: 100% auto;
	background-repeat: repeat;
}

body {
	font-family: Helvetica, Arial;
	font-size: 125%;
	color: #FFF;
}

/* Extra Small Devices - Phones */
@media only screen and (min-width : 320px)
{

	h1 {
		text-align: center;
		font-size: 1.5em;
		margin-top: 5%;
		color: #FFF;
	}

	img {
		display: block;
		border: 5px solid;
		border-color: #FFF;
		margin: 0 auto;
		margin-top: 3%;
		width: 75px;
		height: auto;
	}

	.intro {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: .75em;
		line-height: 1em;
		color: #FFF;
	}

	.work-experience {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: .75em;
		line-height: 1em;
		color: #FFF;
	}	

	.interests {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: .75em;
		line-height: 1em;
		color: #FFF;
	}

	.work-experience-list {
    color: #FFF;
    list-style: none;
    text-align: left;
    margin-top: 7%;
  }

  .work-experience-list li {
    text-align: left;
    padding: 10px;
    font-size: 1em;
	margin-left: -25%
  }
}	

/* Small Devices - Phones */
@media only screen and (min-width : 480px)
{

	h1 {
		text-align: center;
		font-size: 1.5em;
		margin-top: 5%;
		color: #FFF;
	}

	img {
		display: block;
		border: 5px solid;
		border-color: #FFF;
		margin: 0 auto;
		margin-top: 3%;
		width: 100px;
		height: auto;
	}

	.intro {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}	

	.interests {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    margin-top: 7%;
  }

  .work-experience-list li {
    text-align: center;
    padding: 10px;
    font-size: 1em;
  }
}

/* Small Devices - Tablets */
@media only screen and (min-width : 768px)
{

	h1 {
		text-align: center;
		font-size: 1.5em;
		margin-top: 5%;
		color: #FFF;
	}

	img {
		display: block;
		border: 5px solid;
		border-color: #FFF;
		margin: 0 auto;
		margin-top: 3%;
		width: 220px;
		height: 250px;
	}

	.intro {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}	

	.interests {
		text-align: center;
		margin-top: 5%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience-list {
    color: #FFF;
    list-style: square;
    text-align: left;
    margin-top: 2%;
	margin-left: 40%
  }

  .work-experience-list li {
    text-align: left;
    padding: 10px;
    font-size: 1em;
  }
}

/* Medium Devices - Desktops */
@media only screen and (min-width : 992px)
{

	h1 {
		text-align: center;
		font-size: 1.5em;
		margin-top: 5%;
		color: #FFF;
	}

	img {
		display: block;
		border: 5px solid;
		border-color: #FFF;
		margin: 0 auto;
		margin-top: 3%;
		width: 220px;
		height: 250px;
	}

	.intro {
		text-align: center;
		margin-top: 3%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience {
		text-align: center;
		margin-top: 3%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}	

	.interests {
		text-align: center;
		margin-top: 3%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience-list {
    color: #FFF;
    list-style: square;
    text-align: left;
    margin-top: 2%;
	margin-left: 50%
  }

  .work-experience-list li {
    text-align: left;
    padding: 10px;
    font-size: 1em;
  }
}

/* Large Devices - Wide Screens */
@media only screen and (min-width : 1200px)
{

	h1 {
		text-align: center;
		font-size: 1.5em;
		margin-top: 5%;
		color: #FFF;
	}

	img {
		display: block;
		border: 5px solid;
		border-color: #FFF;
		margin: 0 auto;
		margin-top: 3%;
		width: 220px;
		height: 250px;
	}

	.intro {
		text-align: center;
		margin-top: 3%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience {
		text-align: center;
		margin-top: 3%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}	

	.interests {
		text-align: center;
		margin-top: 3%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1em;
		line-height: 1.5em;
		color: #FFF;
	}

	.work-experience-list {
    color: #FFF;
    list-style: square;
    text-align: left;
    margin-top: 2%;
	margin-left: 55%
  }

  .work-experience-list li {
    text-align: left;
    padding: 10px;
    font-size: 1em;
  }
}